HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
**/.DS_Store
!**/src/main/**
!**/src/test/**
log.txt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
h2.mv.db
h2.trace.db
logs/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### mac ### 
.DS_Store
